.about-main img{
  width :350px

}

.about-note1{
  font-size: 12px
}

.sort img{
  height:37px
}

.characters{
  padding: 0px 110px
}

.circles{
  padding: 0px 110px
}

.bamboos{
  padding: 0px 110px
}

.honors{
  padding: 0px 80px
}

.tsumo-ron img{
  height:37px
}


.rule img{
  height:37px
}
